<dijkstra-web-spherical-geometry
  [speed]="5000"
></dijkstra-web-spherical-geometry>
<div class="container">
  <div class="subtitle">
    <h3>
      As a techno music producer, I strive to create trance-inducing tracks
      filled with repetitive mantras and heavy hypnotic rhythms. My sound is
      heavily influenced by psytrance, trance and industrial techno. I aim to
      bring a unique and psychedelic twist to the techno scene. I am constantly
      pushing my own boundaries and evolving my sound to be heavier and more
      experimental. My main focus is to create an immersive experience for the
      listener. I find my home in the underground techno scene, and I believe my
      heavy and psychedelic sound sets me apart.
    </h3>
  </div>

  <div class="spotify">
    <iframe
      style="border-radius: 12px"
      src="https://open.spotify.com/embed/album/2MWQ5NeVbqzLlYCgHbvfDp?utm_source=generator&theme=0"
      width="100%"
      height="352"
      frameBorder="0"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy"
    ></iframe>
  </div>
</div>
<div class="imagediv">
  <img src="assets/IMG_0330.jpg" class="photo" />
</div>
<div class="otherWays">
  <h1>Other Ways To Listen</h1>
  <div class="box">
    <iframe
      width="30%"
      height="450"
      scrolling="no"
      frameborder="no"
      allow="autoplay"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1080278965&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
    ></iframe>

    <iframe
      width="560"
      height="455"
      src="https://www.youtube.com/embed/UZHNUsqBZMQ"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>

    <iframe
      allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write"
      frameborder="0"
      height="450"
      style="
        width: 100%;
        max-width: 660px;
        overflow: hidden;
        background: transparent;
      "
      sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation"
      src="https://embed.music.apple.com/us/album/tranquillity-of-a-dream-single/1622740009"
    ></iframe>
  </div>
</div>
