<div>
  <dijkstra-web-spherical-geometry
    [speed]="10000"
  ></dijkstra-web-spherical-geometry>
  <div class="container">
    <div class="bg">
      <div class="card">
        <div class="card-content">
          <h3 class="card-title">Chess Finite State Machine</h3>
          <h4 class="card-subtitle">
            Introducing our chess game using finite state machine technology and
            web sockets as network protocol for improved game logic and
            strategy. It features an intuitive UI, immersive visual and audio
            effects. Web sockets allow players to connect and play with friends
            and opponents from anywhere in real-time. Experience a new level of
            chess gameplay with this unique implementation that combines classic
            chess with cutting-edge technology.
          </h4>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h3 class="card-title">Machine Learning Applications</h3>
          <h4 class="card-subtitle">
            Introducing my latest and ongoing machine learning projects. A
            polygon photo classifier that uses AI to identify and classify
            different types of polygons in an image. A subatomic particle
            classifier employs machine learning to identify and classify
            subatomic particles in experimental Large Hadron Collider data. A
            vegetable photo classifier that utilizes AI to identify and classify
            various types of vegetables in an image. My HR Giger artwork GAN
            uses machine learning to generate new, unique artwork in the style
            of the renowned artist HR Giger. These projects demonstrate the
            potential and versatility of AI in image classification, scientific
            research and generative art.
          </h4>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h3 class="card-title">Other</h3>
          <h4 class="card-subtitle">
            Introducing a variety of miscellaneous projects, including a web
            scraping tool, a sentiment analysis model, a recommendation engine
            and a chatbot, all utilizing cutting edge technology to solve
            real-world problems and improve workflow efficiency.
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
